<app-popup-background [showCloseButton]="false" [showPopup]="loadingScreen | async">
    <app-loading></app-loading>
</app-popup-background>

<div class="w3-padding-64 w3-white">
    <div class="w3-row-padding">
        <div class="w3-col l8 m6 camera-container">
            <h1 class="w3-jumbo">
                <b>The App</b>
            </h1>
            <h1 class="w3-xxxlarge w3-text-green">
                <b>Why use it?</b>
            </h1>
            <p>
                <span class="w3-xlarge">Take photos and learn about the surrounding landmarks.</span>
            </p>
            <app-camera (findPicture)="findPicture($event)"></app-camera>
            <app-popup-background [showPopup]="showPopup|async" (togglePopupVisibility)="togglePopup()" [showCloseButton]="true">
                <app-figure-view [viewModel]="figureViewModel | async"></app-figure-view>
            </app-popup-background>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="download" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:32px">
        <div class="w3-container w3-white">
            <i onclick="document.getElementById('download').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
            <h2 class="w3-wide">DOWNLOAD</h2>
            <p>Download the app in AppStore, Google Play or Microsoft Store.</p>
            <i class="fa fa-android w3-large"></i>
            <i class="fa fa-apple w3-large"></i>
            <i class="fa fa-windows w3-large"></i>
        </div>
    </div>
</div>

<div class="w3-container w3-padding-64 w3-white w3-center">
    <h1 class="w3-jumbo">
        <b>Our places</b>
    </h1>
    <p></p>
    <div id="map"></div>
    <app-google-map></app-google-map>

</div>

<!-- Clarity Section -->
<app-team></app-team>

<!-- Features Section -->

<app-feature></app-feature>
<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-light-grey w3-center w3-xlarge">
    <div class="w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
    </div>
</footer>