<div class="w3-container w3-padding-64 w3-dark-grey w3-center">
  <h1 id="features" class="w3-jumbo" style="padding-top: 3%">
    <b>Features</b>
  </h1>
  <p>This app is just so lorem ipsum.</p>

  <div class="w3-row" style="margin-top:64px">
    <div class="w3-col s3">
      <i class="fa fa-globe w3-text-amber w3-jumbo"></i>
      <p>Global</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-shield w3-text-orange w3-jumbo"></i>
      <p>Stabile</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-wifi w3-text-grey w3-jumbo"></i>
      <p>Connected</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-image w3-text-pink w3-jumbo"></i>
      <p>HD</p>
    </div>
  </div>
  <div class="w3-row" style="margin-top:64px">
    <div class="w3-col s3">
      <i class="fa fa-map-o w3-text-blue w3-jumbo"></i>
      <p>More figures</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-ravelry w3-text-red w3-jumbo"></i>
      <p>Different languages</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-volume-up w3-text-green w3-jumbo"></i>
      <p>Hear the information</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-cloud w3-text-blue w3-jumbo"></i>
      <p>Cloud</p>
    </div>
  </div>
</div>
