input[type="file"] {
<<<<<<< HEAD
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
=======
  display: none;
}
>>>>>>> 6e25db6b2fc3e9886886f90106b4e7a705f8557d
