<div class="popup-img" #background>
  <div>
    <span (click)="hidePopup()" class="close">X</span>
    <h1 class="figure-name">
      {{viewModel.name}}
    </h1>
    <h2 class="figure-description">
      {{viewModel.description}}
    </h2>
  </div>
  <div class="gallery">
    <button (click)="prevImg()" class="flex">Left</button>
    <img class="image" class="img" *ngIf="viewModel?.images[selectedImgIndex]!=null" [src]="viewModel?.images[selectedImgIndex]">
    <button (click)="nextImg()" class="flex">Right</button>
  </div>
</div>